<app-menu></app-menu>
<div class="container-fluid pt-5 mt-5">
  <div class="row">
    <div
      *ngFor="let people of peoples"
      class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3"
    >
      <app-card
        name="{{ people?.name }}"
        gender="{{ people?.gender }}"
        movies="{{ people?.films.length }}"
      ></app-card>
    </div>
  </div>
</div>
<div>
  <app-paginator></app-paginator>
</div>
  <footer>
    <small class = "m-4"> &copy; Thamires Vasconcelos 2019</small>
  </footer>

