.container-fluid {
  background-color: #3333;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -40px;
}

.footer {
  display: block;
  margin-top: -10px;
}
